.TextColor{
    color: var(--primary-text-color); 
}
.FondoGray{
    background-color: var(--primary-color);
}
.buttonOferta {
    background-color: var(--button-bg-color);
    color: white;
    border: 2px solid var(--button-bg-color);
    border-radius: 1em; 
    padding: 0.1em 1em; 
    font-size: 1em; 
    cursor: pointer;
    width: 19em;
}

.buttonOferta:hover {
    background-color: var(--button-hover-bg-color);
}